<div class="row">
  <div class="col">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner carousel-pic">
        <div class="carousel-item active">
          <%= image_tag "mer1.jpg", class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "petit-dej.jpg", class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "jardin1.jpg", class: 'd-block w-100' %>
        </div>
      </div>
    </div>
  </div>
</div>
