<div class="row mb-5">
  <div class="col">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner carousel-pic p-5">
        <div class="carousel-item active review">
          <h5>Alban: "Je recommande vivement"</h5>
          <p class="carousel-text ">"Nous avons beaucoup apprécié séjourner dans ce logement. Tout était très propre, bien décoré. Excellent petit déjeuner normand avec des produits frais. Excellent accueil de la propriétaire des lieux."</p>
        </div>
        <div class="carousel-item review">
          <h5>Céline: "Un lieu verdoyant et confortable"</h5>
          <p class="carousel-text"> Le lieu est charmant et agréable. Un havre de paix avec beaucoup de charme. Notre hôte était agréable, disponible et de très bons conseils concernant les visites de la région. Une adresse à retenir !</p>
        </div>
        <div class="carousel-item review">
          <h5>Andréa: "Belle maison, décorée avec goût"</h5>
          <p class="carousel-text">Nathalie est d'une gentillesse et d'une douceur incomparable. La cuisine est parfaitement équipée pour un petit repas. Nous savons déjà ou séjourner lors de notre prochain week end normand !</p>
      </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
