<div class="row mb-5">
  <div class="col">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner carousel-pic p-5">
        <div class="carousel-item active review">
          <h5>Beata: "Wonderful week-end"</h5>
          <p class="carousel-text ">"Amazing garden, decoration, delicious and beautifully served breakfast, very very comfortable bed and pillows, spacious rooms, fully equipped kitchen."</p>
        </div>
        <div class="carousel-item review">
          <h5>Céline: "Beautiful Bed&Breakfast"</h5>
          <p class="carousel-text"> The Bed&Breakfast is lovely. Very quiet. Warm, welcoming owner who gave us tons of good advice to explore the shore.</p>
        </div>
        <div class="carousel-item review">
          <h5>Andréa: "Gorgeous house with tasteful design"</h5>
          <p class="carousel-text">Nathalie is incredibly nice and sweet. Kitchen fully equiped for a meal or two. We'll defintely be back.</p>
      </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
