<div class="row">
  <div class="col">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
      <div class="carousel-inner carousel-pic">
        <div class="carousel-item active">
          <%= image_tag "mer1.jpg", class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "facade-vigne.jpg", class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "jardin1.jpg", class: 'd-block w-100' %>
        </div>
      </div>
    </div>
  </div>
</div>
