<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 text-center">
			<i class="fas fa-utensils mb-3"></i>
			<% if @room.name == 'La chambre' %>
				<p class='icon-text__small'>Petit-déjeuner inclus</p>
			<% else %>
				<p class='icon-text__small'>Cuisine équipée</p>
			<% end %>
		</div>
		<div class="col-sm-4 text-center">
			<i class="fas fa-bed mb-3"></i>
			<p class='icon-text__small'>Linge de maison fourni</p>
		</div>
		<div class="col-sm-4 text-center">
			<i class="fas fa-tree mb-3"></i>
			<p class='icon-text__small'>Accès au jardin</p>
		</div>
	</div>
</div>