<!-- <h1 class="<%#= @room.name %>">HELLO <%#= room.name %></h1>
 -->
<h5 class='main_title'>Maison Esperluette</h5>


<h3 class='room_name'><%= @room.name %></h3>

<div class="room_banner">
	<div class="<%= @room.name %>"></div>
</div>