<!-- <h1 class="<%#= @room.name %>">HELLO <%#= room.name %></h1>
 -->
<h5 class='main_title'>Maison Esperluette</h5>


<h3 class='room_name'><%= @room.name %></h3>

<div class="room_banner">
	<div class="<%= @room.name %>"></div>
</div>

<h4><%= @room.tagline %></h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dolorum commodi nostrum eos cumque sit neque similique facere, voluptates rerum, accusantium voluptatibus, itaque delectus quidem non doloribus reiciendis consequuntur. Non sint sequi eligendi! Exercitationem saepe amet commodi illum repellendus quibusdam!</p>


