.card_room {
  // padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  background-color: $background-wh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: bottom;
  }
}

.card-details h4 {
  font-size: .8rem;
  color: $dark-font;
  font-family: $headers;
  margin: 10px 3px 0 3px;
}

.card-details p {
  font-family: $body;
  margin: 5px;
  color: $light-font;
  font-size: .6em;
}
