.footer {
  background: $dark-blue;
  text-align: center;
  height: 12em;
}
.footer_info {
  color: #ffff;
  font-family: $body;
  font-size: .9rem;
  line-height: 2em;
}
// .footer-links {
  // display: flex;
  // align-items: center;
// }
// .footer-links a {
  // color: black;
  // opacity: 0.15;
  // text-decoration: none;
  // font-size: 24px;
  // padding: 0px 10px;
// }
// .footer-links a:hover {
  // opacity: 1;
// }