<nav class="navbar navbar-expand-lg navbar-dark">

  <%= link_to root_path(locale: :en), class: "navbar-brand" do %>
    <%= image_tag "logo-white2.png", class: 'logo' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Contact us", contact_index_path(locale: :en), class: "nav-item nav-link" %>
      <%= link_to "Location", maps_path, class: "nav-item nav-link" %>
    </div>
  </div>

</nav>