.block-text__centered {
	font-weight: 200;
	font-size: .8em;
	h3 {
		font-family: 'Playfair Display', serif;
		color: #717171;
		text-align: center;
		font-size: 1.4em;
	}
}
.img-round {
	border-radius: 50%;
	max-width: 100%;
	height: 15em;
}