.block-text__centered {
	color: $light-font;
	font-family: $body;
	// margin: 10px 40px 10px 40px;
	font-weight: 200;
	font-size: .8em;
	h3 {
		font-family: $headers;
		color: $dark-font;
		text-align: center;
		font-size: 1.4em;
	}
}
.img-round {
	border-radius: 50%;
	max-width: 100%;
	height: 15em;
}