.room_container h5, h3, h4 {
	font-family: 'Playfair Display', serif;
  color: #c5c3c6;
  text-align: center;
  font-size: 1.4em;
}
#main_title {
	font-family: 'Playfair Display', serif;
	font-size: .7em;
	font-weight: lighter;
	color: #c5c3c6;
	margin-bottom: 1em;
}
.room_name {
	letter-spacing: .2em;
	margin-bottom: 1em;
	margin-top: 1em;
	color: #717171;
	font-weight: 400;
}
p {
	font-family: 'Lato', sans-serif;
	color: #717171;
	text-align: center;
}
.room_info {
	margin-bottom: 2.5em;
	line-height: 2em;
	text-align: justify;
}
#weekly_rate {
	font-style: italic;
	font-weight: lighter;
}


// ROOM BANNERS MANAGER
.grand {
  background-image: url(grand-gite-chambre2.jpg);
  height: 30em;
  background-size: cover;
  width: 100% !important;
  background-position: center;
  margin-bottom: 2em;
}

.petit {
	background-image: url(petit-gite-chambre.jpg);
  height: 30em;
  background-size: cover;
  width: 100% !important;
  background-position: center;
  margin-bottom: 2em;
}

.chambre {
	background-image: url(chambre-mosaique.jpg);
	height: 30em;
  background-size: cover;
  width: 100% !important;
  background-position: center;
  margin-bottom: 2em;
}
