





.grand_gite {
  background-image: url(grand-gite-chambre2.jpg);
  height: 15em;
  background-size: contain;
  background-repeat: no-repeat;
}

.petit_gite {
	background-image: url(petit-gite-chambre.jpg);
  height: 15em;
  background-size: contain;
  background-repeat: no-repeat;
}

.chambre {
	background-image: url(chambre-mosaique.jpg);
  height: 15em;
  background-size: contain;
  background-repeat: no-repeat;
}
